*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 40px 0;
}
/* Navbar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    margin-top: -8vh;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;  
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    box-shadow: 0 0 10px white;
}

/*home section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(14, 12, 12, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
    
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('images/edit hap.jpg') no-repeat center center/cover;
    height:1200px;
    width: 100%;
    z-index: -1;
    opacity: .8;   
} 
.main{
   display: flex;
   flex-direction: column;
   /* border: 1px solid white; */
   align-items: center;
   position: none;
   top: 30%;
   left: 5%; 
}
.main a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}
.main  .headings{
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 40px 0px;
}
 .btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: .6s ease;
 }
 .btn:hover{
    cursor: pointer;
    background-color: purple;
    box-shadow: 0 0 5px white, 0 0 10px white;
    font-weight: bold;
 }  
 /* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    background-color: white;
}
#pic{
    display: flex;
    position: none;
    left: 30%;
}
#pic img{
    width: 575px;
    height: 400px;
}
 #intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
 }
 #intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
 }

 /* Portfolio Section */
 #portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
 }
 .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
 }
.gallery img{
    width: 360px;
    height: 240;
    margin: 10px;
}
/* Services Section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1pc solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(103, 5, 148) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
} 
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(103, 5, 148);
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}
 
/* contact section */
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(192, 187, 187, 0.9);
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: black;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox input textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox input span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span{
    color: #e91e6e;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo
    .container .contactform{
        width: 100%;
    }   
}
